/* GlOBAL STYLES */



/* HEADER STYLES */
.title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

header {
    background-color: darkolivegreen;
    min-height: 50px;
}

/* MAIN STYLES */


/* IMAGE BOX SECTION */
.imgBox{
    display: flex;
    justify-content: center;
    
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

.col-narrow {
    width: 30%;
    float: left;
    
}

.col-wide {
    width: 70%;
    float: left;
}


 /* TIMER SECTION */

.timer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 4em;
    
}

/* NAMES LIST */

.names {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    font-size: 2em;
    max-width: 75%;
}

.names li {
    padding: 5px;
    white-space:nowrap;
}

/* TEXT BOX */

.textArea {
    display: flex;
    justify-content: center;

}

input {
    font-size: 2em;
}


/* FOOTER  */

footer {
    position: absolute;
    bottom: 0;
}

